.container{
    font-size: 18px; font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    /* background-color: blue; margin: auto; */
}
table,tr,td{
    /* border: 2px solid; */
    border-collapse: collapse;
    padding: 15px;
    border-bottom: 1px solid gray;
    text-align: center;
}
table{
    width: 80%;
    margin: auto;
}
caption{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}
thead{
    background-color: rgba(22, 22, 221, 0.973);
    color: aliceblue;
    padding: 10px;
}
.icon{
    color: rgb(16, 202, 16);
}
.icon1{
    color: red;
}
.gr{background-color: green; border-radius:5px;color: aliceblue; padding: 3px;}
.rd{background-color: red;border-radius:5px;color: aliceblue; padding: 3px;}    
    

